name: iOS binary test, build & upload

on:
 push:
   branches: [ "main" ]
 pull_request:
   branches: [ "main" ]

jobs:
 deploy:
   runs-on: macos-latest
   
   steps:
     - uses: actions/checkout@v4

     - name: Set up ruby env
       uses: ruby/setup-ruby@v1
       with:
         ruby-version: 3.3
         bundler-cache: true
         
     - name: Decode signing certificate into a file
       env:
         CERTIFICATE_BASE64: ${{ secrets.IOS_DIST_SIGNING_KEY }}
       run: |
         echo $CERTIFICATE_BASE64 | base64 --decode > signing-cert.p12

     - name: Build & upload iOS binary
       run: bundle exec fastlane ios test_build_upload
       env:
         ASC_KEY_ID: ${{ secrets.ASC_KEY_ID }}
         ASC_ISSUER_ID: ${{ secrets.ASC_ISSUER_ID }}
         ASC_KEY: ${{ secrets.ASC_PRIVATE_KEY }}
         SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
         SIGNING_KEY_FILE_PATH: signing-cert.p12
         BUNDLE_IDENTIFIER: ${{secrets.BUNDLE_IDENTIFIER}}

     - name: Upload app-store ipa and dsyms to artifacts
       uses: actions/upload-artifact@v2
       with:
         name: app-store ipa & dsyms
         path: |
           ${{ github.workspace }}/F1Wiki.ipa
           ${{ github.workspace }}/*.app.dSYM.zip
